@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: background-color 1s ease-in, color 1s ease;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}


:root {
    --body-bgcolor: #e8ebf7;
    --item-color: #fff;
    --text-color: #000;
    --shadow-color: rgba(0, 0, 0, 0.8);
    --bottomMenu-bgcolor: #FDFDFD;
}

body.darkTheme {
    --body-bgcolor: #281a49;
    --item-color: #3e365c;
    --text-color: #e9e4f0; 
    --shadow-color: rgb(252, 148, 166);
    --bottomMenu-bgcolor: #53477e;
}




.wrapper {
    background-color: #f79fff35;
}

.main-body {
    background-color: var(--body-bgcolor);
    color: var(--text-color);
    max-width: 400px;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 2rem 0 2rem;
}

.toggle-btn {
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.search-box {
    background-color: var(--item-color);
    width: 100%;
    padding: .7rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.search-input {
    background-color: var(--item-color);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 .6rem;
}




.title-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem .2rem;
}

.filer-btn {
    padding: .5rem;
}









.task-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}




.task {
    list-style: none;
    display: flex;
    background-color: var(--item-color);
    padding: 1rem 1.2rem;
    align-items: center;
    border-radius: 1.5rem;
    gap: 1rem;
}


.task input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #F27D9E;
    position: relative;
    z-index: 4;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #F27D9E;
    border-radius: 50%;
    background-color: transparent;
}

.task input[type="checkbox"]:checked {
    background-color: #F27D9E;
}

.task input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    color: white;
    font-size: 12px;
    transform: translate(3px, -1px);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task input[type="checkbox"]::before {
    display: none;
}


.task .details {
    display: flex;
    flex-direction: column;
}

.task .dropdown {
    margin-left: auto;
    position: relative;
}

.dropdown {
    position: relative;
    color: var(--text-color);
}

.dropdown-btn {
    color: var(--text-color);
}

.⋮ {
    font-size: 1.8rem;
    padding: .5rem;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;

    display: none;
    background: var(--item-color);
    border-radius: 6px;
    box-shadow: 0 2px 20px var(--shadow-color);
    z-index: 1000;
}

.dropdown-menu.open {
    display: block;
    /* border: .1px solid var(--text-color); */
    border-radius: 1rem;
}

.dropdown-menu button {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 8px 12px;
    background: none;
    text-align: left;
}





.noTasks {
    width: 90%;
    height: 40vh;
    border: 3px solid rgb(252, 148, 166);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.noTasks span {
    padding: 0;
    margin: 0;
}





.submit-box {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    width: 100%;
    height: 100vh;
    height: 100dvh;

    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.submit-body {
    width: 90%;
    max-width: 340px;
    height: 60%;
    background-color: var(--item-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
}

.submit-input {
    outline: none;
}

input {
    color: var(--text-color);
}

.submit-body div {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.submit-body button {
    width: 3rem;
}

.submit-body button:hover {
    transform: scale(1.1);
}





.bottom-wrapper {
    position: sticky;
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
}

.bottom-menu {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: var(--item-color);
    background: var(--bottomMenu-bgcolor);
    border-radius: 40px 40px 0 0;

    mask-image: radial-gradient(
        circle 40px at center top,
        transparent 99%,
        black 100%
    );
    -webkit-mask-image: radial-gradient(
        circle 40px at center top,
        transparent 99%,
        black 100%
    );
}

.add-btn {
    position: relative;
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translateY(-50%);
}


.add-btn:hover {
    transform: translateY(-50%) scale(1.1);
}






@media (max-width: 800px) {
    .main-body {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}